[submodule "bcc"]
	path = bcc
	url = https://github.com/iovisor/bcc.git
  branch = master
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
  branch = master
[submodule "cloud-perf-labs"]
	path = cloud-perf-labs
	url = https://github.com/joyent/cloud-perf-labs.git
  branch = master
[submodule "scope-http-statistics"]
	path = scope-http-statistics
	url = https://github.com/weaveworks-plugins/scope-http-statistics.git
  branch = master
[submodule "ply"]
	path = ply
	url = https://github.com/iovisor/ply.git
  branch = master
[submodule "perf-tools"]
	path = perf-tools
	url = https://github.com/brendangregg/perf-tools.git
  branch = master
[submodule "linux-tracing-workshop"]
	path = linux-tracing-workshop
	url = git@github.com:goldshtn/linux-tracing-workshop.git
  branch = master
[submodule "rbpf"]
	path = rbpf
  url = https://github.com/qmonnet/rbpf.git
  branch = master
